
section#entry {
	position: relative;
	top: 0;
	height: 100%;
	animation: 0.5s ease-in-out forwards _active;
}

	section#entry::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0;
		transition: all ease-in-out 0.5s;
		z-index: 0;
	}

	section#entry._enter::before {
		z-index: 20;
		opacity: 1;
	}

	section#entry.panelOpen::before {
		z-index: 20;
		opacity: 0.65;
	}


section#entry div#titleWrapper {
	padding: 24px 0 0 16px;
}

	section#entry div#titleWrapper._leave {
		animation: 1s ease-in-out forwards _leave;
		/*duration, timing, fill, name	*/
	}

section#entry div#titleWrapper h1 {
	font-family: 'Raleway';
	font-size: 2.5em;
	color: var(--greyscale-accent);
	letter-spacing: 2px;

	margin: 0px 0;
}

section#entry div#titleWrapper h1 span {
	color: black;
/*	margin-right: 4px;*/
}

section#entry div#titleWrapper h1#xyz {
	animation: 1s ease-in-out forwards _enter;
	margin-top: -4px;
}

	section#entry div#titleWrapper h1#xyz._enter {
		animation: 0.5s ease-in-out forwards _enter;
		/*duration, timing, fill, name	*/
	}


section#entry div#logoWrapper {
	padding-top: 36px;
}

section#entry div#logoWrapper._leave {
	animation: 0.5s ease-in-out forwards _leave;
}

section#entry div#logoWrapper h1 {
	font-family: 'Raleway';
	font-size: 2em;
	color: black;
	letter-spacing: 4px;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}




section#entry div#loginOrSignup {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	transition: all 0.5s ease-out;
}

	section#entry div#loginOrSignup._leave {
		animation: 1s ease-in-out forwards _leave;
		/*duration, timing, fill, name	*/
	}

section#entry div#loginOrSignup button {
	font-family: 'Raleway';
	font-size: 1em;
	color: black;
	letter-spacing: 2px;
	text-transform: uppercase;

	width: 50%;
	padding: 20px 0;
	border: none;
	background-color: white;
}

section#entry button#forSignupProcess {
	font-weight: 600;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    animation: 1s ease-in-out forwards _enter;
}

section#entry button#forSignupProcess._leave {
	animation: 0.5s ease-in-out forwards _leave;
}

	section#entry button#forSignupProcess.canUse {
		color: black;
	}

	section#entry button#forSignupProcess.cantUse {
		color: var(--greyscale-accent);
	}



/* * * 
	S i g n  U p  S u c c e s s f u l  
	T r a n s i t i o n 
* * */
section#entry div#transition {
/*	display: none;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	animation: 0.5s ease-in-out 2.5s forwards _nonActive;
}

section#entry div#transition div {
	margin: 80px 0;
	opacity: 0;
}

section#entry div#transition div#first {
	animation: 1s ease-in-out forwards _active;
}

section#entry div#transition div#second {
	animation: 1s ease-in-out 1s forwards _active;
}

section#entry div#transition div p {
	font-family: 'Raleway';
	font-size: 1.5em;
	font-weight: 600;
	color: var(--greyscale-accent);
	letter-spacing: 2px;
	text-align: center;
}






section#entry form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
/*	margin: 60px auto;*/
	display: none;
	opacity: 0;
	z-index: 1;
	animation: 0.3s ease-in-out forwards _scaleFadeIn;
}

section#entry form#login {
	display: block;
}

section#entry form#signin._active,
section#entry form#login._active {
	animation: 0.3s ease-in-out forwards _active;
}

	@keyframes _active {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

section#entry form._nonActive {
	animation: 0.5s ease-in-out forwards _nonActive;
}
	
	@keyframes _nonActive {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}


section#entry form fieldset {
	width: 100%;
	border: none;
	padding: 0;
	margin-left: -4px;
}

section#entry form fieldset._leave {
	animation: 0.5s ease-in-out forwards _leave;
}

section#entry form fieldset input {
	width: 100%;
	display: block;
	margin: 24px 0;
	border: none;
	border-bottom: 2px solid var(--greyscale-elements);
	padding: 12px 2px;
	background-color: transparent;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 0.9em;
	color: var(--greyscale-text);
	letter-spacing: 4px;
	line-height: 22px;
}

section#entry form fieldset input::placeholder {
	color: var(--greyscale-accent);
}

section#entry form fieldset input:focus {
	border-bottom-color: var(--greyscale-text);
}

section#entry form fieldset input:focus {
	outline: none;
}

section#entry form button {
	display: block;
	font-family: "Raleway";
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;

	background-color: transparent;
	border: none;
}

section#entry form#login button#login,
section#entry form#signin button#signin {
	margin: 24px 0 20px;
	font-size: 1.75em;
	transition: all 0.5s ease-out;
}

	section#entry form#login button#login.canUse,
	section#entry form#signin button#signin.canUse {
		color: black;
	}

	section#entry form#login button#login.cantUse,
	section#entry form#signin button#signin.cantUse {
		color: var(--greyscale-accent);
	}


section#entry form button#switch {
	font-size: 0.75em;
}









section#entry form div#privacyOptions {
	animation: 0.5s ease-in-out forwards _enter;
}

section#entry form div#privacyOptions._leave {
	animation: 0.5s ease-in-out forwards _leave;
}


section#entry form div#privacyOptions h2 {
	font-family: 'Raleway';
	font-weight: 400;
	color: var(--greyscale-accent);
	text-align: center;
	letter-spacing: 2px;
}

section#entry form div#privacyOptions ul#options {
	list-style-type: none;
	display: flex;
	width: 90%;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	margin: 64px auto;
}

section#entry form div#privacyOptions p {
	font-family: 'Raleway';
	text-align: center;
	line-height: 28px;
	white-space: pre-line;
	color: var(--greyscale-text);
	max-width: 90%;
	margin: 24px auto;
}

section#entry form div#privacyOptions p span {
	color: black;
	font-weight: 600;
}




section#entry form fieldset#profilePhoto {
	animation: 0.5s ease-in-out forwards _enter;
}

section#entry form fieldset#profilePhoto._leave {
	animation: 0.5s ease-in-out forwards _leave;
}

section#entry form fieldset#profilePhoto h2 {
	width: 75%;
	font-family: 'Raleway';
	font-weight: 400;
	color: var(--greyscale-accent);
	text-align: center;
	letter-spacing: 2px;
	margin: 32px auto;
}

section#entry form fieldset#profilePhoto label {
	display: block;
	width: 100%;
	padding: 12px 0;
	margin: 24px 0;

	text-align: center;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1.5em;
	color: black;
	letter-spacing: 8px;
	line-height: 22px;
}

section#entry form fieldset#profilePhoto input {
	border-bottom: none;
	display: none;
}

section#entry form fieldset#profilePhoto img {
	border: none;
	display: block;
	width: 128px;
	height: 128px;
	margin: 16px auto;
	border-radius: 8px;
	object-fit: cover;
}



section#entry form div#topicSelection {
	height: 60vh;
	animation: 0.5s ease-in-out forwards _enter;
}

section#entry form div#topicSelection._leave {
	animation: 0.5s ease-in-out forwards _leave;
}

section#entry form div#topicSelection h2 {
	width: 90%;
	font-family: 'Raleway';
	font-weight: 400;
	color: var(--greyscale-accent);
	text-align: left;
	letter-spacing: 2px;
	margin: 32px auto;
}

section#entry form div#topicSelection p {
	width: 90%;
	font-family: 'Raleway';
	font-weight: 100;
	color: var(--greyscale-text);
	text-align: center;
	letter-spacing: 2px;
	margin: 48px auto;
	line-height: 24px;
}

section#entry form div#topicSelection ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style-type: none;
	padding-left: 0px;
	width: 100%;
	margin-left: auto;
	margin-bottom: 0;
	height: 58%;
	overflow-y: scroll;
}

section#entry form div#topicSelection ul li {
	display: block;
    position: relative;
    /* top: 7px; */
    margin: 4px;
    margin-top: 10px;
}

section#entry form div#topicSelection ul li button {
	border: 2px solid var(--greyscale-text);
    border-radius: 12px;
    padding: 8px 10px;

    font-family: "Raleway";
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 2px;
    color: var(--greyscale-text);
    background-color: transparent;
    transition: all ease-in-out 0.3s;
    text-transform: capitalize;
}

section#entry form div#topicSelection ul li button.selected {
	border-color: 2px solid var(--greyscale-details);
	color: var(--greyscale-details);
}

	




section#entry div#referralPanel {
	display: block;
	width: 90%;
	position: absolute;
	z-index: 24;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid var(--greyscale-elements);
	border-radius: 8px;
	opacity: 1;
	transition: all ease-in-out 0.3s;
	animation: 0.3s ease-in-out forwards _scaleFadeIn;
}

section#entry div#referralPanel._leave {
	animation: 0.3s ease-in-out forwards _scaleFadeOut
}

section#entry div#referralPanel._return {
	animation: 0.3s ease-in-out forwards _scaleFadeIn
}


section#entry div#referralPanel div#firstPanel {
	text-align: center;
	font-family: 'Raleway';
	height: auto;
}

section#entry div#referralPanel div#firstPanel span {
	font-size: 2em;
    font-weight: 500;
    color: var(--greyscale-accent);
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 20px auto;
    border: 3px solid var(--greyscale-accent);
    border-radius: 100%;
    padding: 4px 20px;
}

section#entry div#referralPanel div#firstPanel h2 {
	font-size: 1.75em;
	font-weight: 600;
	color: var(--greyscale-accent);
}

section#entry div#referralPanel div#firstPanel p {
	font-size: 1em;
	width: 90%;
	margin: 24px auto;
	font-weight: 400;
	line-height: 28px;
	color: var(--greyscale-text);
}

section#entry div#referralPanel div#firstPanel input {
	width: 90%;
	margin: 36px auto;
	text-align: center;
}


section#entry div#referralPanel button {
	display: block;
	margin: 36px auto 24px;
}




section#entry div#referralPanel div#secondPanel {
	font-family: 'Raleway';
	letter-spacing: 1px;
	color: var(--greyscale-accent);
}

section#entry div#referralPanel div#secondPanel h2 {
	font-size: 2em;
	margin: 16px 0 48px 16px;
}

section#entry div#referralPanel div#secondPanel img {
	width: 88px;
	height: 88px;
	border-radius: 8px;
	margin-left: 16px;
}

section#entry div#referralPanel div#secondPanel h3 {
	font-size: 1.5em;
	margin: 8px 0 0 12px;
}

section#entry div#referralPanel div#secondPanel h4 {
	font-size: 1em;
	margin: 8px 0 48px 12px;
}








section#entry div#popUp {
	display: flex;
	justify-content: space-between;
	width: 94%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -60px;
	border: 2px solid var(--greyscale-error);
	border-radius: 6px;
	transition: all 1s ease-in-out;
	animation: 0.5s ease-in-out forwards popUp;
	z-index: 24;
}

/*section#entry div#popUp.on {
	display: flex;
	animation: 1s ease-in-out forwards popUp;
}

section#entry div#popUp.off {
	display: flex;
	animation: 1s ease-in-out forwards popDown;
}*/


	@keyframes popUp {
		0% {
			bottom: 0;
			opacity: 0;
		}
		100% {
			bottom: 60px;
			opacity: 1;
		}
	}

	@keyframes popDown {
		0% {
			bottom: 60px;
			opacity: 1;
		}
		100% {
			bottom: 0;
			opacity: 0;
		}
	}


section#entry div#popUp p {
	display: block;
	font-family: "Raleway";
	font-size: 0.95em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 16px 8px;
	color: var(--greyscale-error);
}

section#entry div#popUp button {
	color: var(--greyscale-text);
}








