div#buttonWrapper_userMenu {
    display: flex;
    justify-content: center;
    align-content: center;	
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: white;
    z-index: 10;
}

button#menuToggle {
	background: none;
	outline: none;
	border:  none;
	font-size:  1.5em;
	padding:  10px 15px;
}