
div#buttonWrapper {
    display: flex;
    justify-content: center;
    align-content: center;	
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: white;
    z-index: 10;
    padding: 20px 0;
}

button#menuToggle {
	background: none;
	outline: none;
	border:  none;
	font-size:  1.2em;
/*	padding:  10px 15px;*/
}

div#buttonWrapper ul#altMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*position: ;*/
}

    ul#altMenu li {
        display: inline-block;
    }

    ul#altMenu li button {
        margin: 0 20px;
        background: none;
        border: none;
        font-size: 1.2em;
    }


div#buttonWrapper button#dayMonthToggle {
    position: absolute;
    right: 2%;
    bottom: 2%;
    box-sizing: content-box;
    padding: 10px 5px;
    background-color: transparent;
    border: none;
}

div#buttonWrapper button#dayMonthToggle p {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

div#buttonWrapper button#dayMonthToggle span {
    margin: 0;
    font-size: 1.2em;
}   