
/* * * 
		T h e  F i v e
		M a i n  S e c t i o n s 
* * */

div#sectionsWrapper {
	display: flex;
	position: fixed;
	width: 100%;
	top: 148px;
	overflow-y: scroll;
}

div#userLog,
div#socialLog,
div#groupsList,
div#macrosList,
div#homeLog {
	width: 96%;
	height: 100%; /*needs to be fixed for animation */
	margin: 0 auto;
	opacity: 0;
	transition: all 0.5s linear;
	transform: scale(0.9);
}


/* As userLog is currently the default, it will have 'already present' styling */
div#userLog {
	animation: 0.2s ease-in-out forwards appear;
}


@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);	
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
		transform: scale(1);	
	}
	100% {
		opacity: 0;
		transform: scale(0.9);
	}
}

	div#userLog.active {
/*		animation: 0.5s ease-in-out forwards appear;*/
	}

	div#socialLog.active,
	div#macros.active {
		animation: 0.2s ease-in-out forwards appear;
	}

	div#userLog.not,
	div#socialLog.not,
	div#macros.not {
		background-color: transparent;
		animation: 0.2s ease-in-out forwards disappear;
	}


div#socialLog div.log h2.noPostsToday,
div.log div.entry span.postDate {
	text-align: left;
}	

div#userLog div.log span.postDate{
	text-align: right;
}


div#socialLog div.log div.entry h2 {
/*	text-align: right;*/
	margin: 0px 0 10px;
}

div#socialLog div.log div.entry span#username {

	font-size: 0.75em;
	margin: 10px 0 0;
}