
/* * * 
		T h e  F i v e
		M a i n  S e c t i o n s 
* * */

div#sectionsWrapper {
	display: flex;
	position: fixed;
	width: 100%;
	top: 140px;
	overflow-y: scroll;
}

div#userLog,
div#socialLog,
div#groupsList,
div#macrosList,
div#homeLog {
	width: 96%;
	height: 100%; /*needs to be fixed for animation */
	margin: 0 auto;
	opacity: 0;
	transition: all 0.5s linear;
	transform: scale(0.8);
}


/* As userLog is currently the default, it will have 'already present' styling */
div#userLog {
	animation: 0.5s ease-in-out forwards appear;
}


@keyframes appear {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);	
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
		transform: scale(1);	
	}
	100% {
		opacity: 0;
		transform: scale(0.8);
	}
}

	div#userLog.active {
/*		animation: 0.5s ease-in-out forwards appear;*/
	}

		div#userLog.not {
			background-color: transparent;
			animation: 0.5s ease-in-out forwards disappear;
		}

	div#socialLog.active {
		animation: 0.5s ease-in-out forwards appear;
	}

		div#socialLog.not {
			background-color: transparent;
			animation: 0.5s ease-in-out forwards disappear;
		}


div#socialLog div.log h2.noPostsToday,
div.log div.entry span.postDate {
	text-align: left;
}	

div#userLog div.log span.postDate{
	text-align: right;
}


div#socialLog div.log div.entry h2 {
	text-align: right;
	margin: 0px 0 10px;
}

div#socialLog div.log div.entry span#username {

	font-size: 0.75em;
	margin: 10px 0 0;
}




/* * *
	C R E A T E  P O S T
	Uur, this is the 3rd time that I'm rewriting this . . . 
	Anyhow, this post shall be used to define the styling for posts with images - 
	both within a log and on their respective pages
* * */

section#HOME div#createPost {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;

	z-index: 20;
	background-color: var(--greyscale-background);
}

	div#createPost::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0;
		transition: all ease-in-out 0.25s;
		z-index: -1;
	}

	div#createPost._enter::before {
		transition: all ease-in-out 0.1s;
		z-index: 20;
		opacity: 1;
	}



section#HOME div#createPost div#titleWrapper {
	width: 97%;
	margin: 16px 0 24px;
	margin-left: auto;
}

section#HOME div#createPost div#titleWrapper h3,
section#HOME div#createPost div#titleWrapper h2 {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1em;
	color: var(--greyscale-accent);
	letter-spacing: 2px;
	line-height: 22px;
	margin: 12px 0 4px;
}

section#HOME div#createPost div#titleWrapper h2 {
	font-size: 2em;
	color: var(--greyscale-text);
	margin: 8px 0 0;
}



section#HOME div#createPost form {
	width: 95%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100% - 160px);
}

div#createPost fieldset {
	padding: 0;
	border: none;
}

div#createPost input,
div#createPost textarea {

	width: 100%;
	display: block;
	margin: 16px 0;
	border: none;
	border-bottom: 2px solid var(--greyscale-elements);
	padding: 8px 2px;
	background-color: transparent;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 0.9em;
	color: var(--greyscale-text);
	letter-spacing: 2px;
	line-height: 22px;
}

div#createPost input::placeholder,
div#createPost textarea::placeholder  {
	color: var(--greyscale-accent);
}


div#createPost input:focus,
div#createPost textarea:focus {
	outline: none;
	border-bottom-color: var(--greyscale-text);
}


div#createPost input#title {
	font-size: 1.5em;
}

div#createPost fieldset.textareaImageAdd {
	width: 100%;
}

div#createPost fieldset.textareaImageAdd img {
	width: 100%;
	margin-bottom: 24px;
}

div#createPost fieldset.textareaImageAdd label.imageAdd {
	display: block;
	width: 100%;
	padding: 12px 0;
	margin: -24px 0 12px;

	text-align: center;
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1.5em;
	color: var(--greyscale-accent);
	letter-spacing: 8px;
	line-height: 22px;
}

div#createPost fieldset.textareaImageAdd input.addImage {
	border-bottom: none;
	display: none;
}


div#createPost fieldset button#newCombo {
	margin: 48px 0;
	width: 100%;
}



section#HOME div#createPost div#options {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	bottom: 0px;
}

section#HOME div#createPost div#options button {
	background-color: transparent;
	border: none;
	outline: none;
	width: 47%;
	padding: 24px 0;
}



section#HOME div#createPost div#taggedUsers {
	margin: 36px auto;
	border-bottom: 1px solid var(--greyscale-accent);
}

	section#HOME div#createPost div#taggedUsers p {
		margin: 8px;
		margin-left: 0;
		color: var(--greyscale-accent);
	}

	section#HOME div#createPost div#taggedUsers ul#selected {
		margin: 8px 8px;
		padding: 0;
		list-style-type: none;
	}

	section#HOME div#createPost div#taggedUsers ul#selected li {
		display: inline-block;
		margin: 0 4px;
	}

	section#HOME div#createPost div#taggedUsers ul#options {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	section#HOME div#createPost div#taggedUsers ul#options li {
		margin: 8px 8px 8px 16px;
	}

	section#HOME div#createPost div#taggedUsers ul#options li span {
		display: inline-block;
	}

	section#HOME div#createPost div#taggedUsers ul#options li p {
		display: inline-block;
		color: black;
		margin-left: 9px;
	}


section#HOME div#createPost div#tagsSelection {
	
}

section#HOME div#createPost div#tagsSelection div#inputWrapper div#selected{
	
}

section#HOME div#createPost div#tagsSelection div#inputWrapper {
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid var(--greyscale-elements);
}

section#HOME div#createPost div#tagsSelection div#inputWrapper div#selected {
/*	width: fit-content;*/
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
}

section#HOME div#createPost div#tagsSelection div#inputWrapper div#selected span {
	display: block;
	position: relative;
/*	top: 7px;*/
	margin: 4px;
	margin-top: 6px;

}

section#HOME div#createPost div#tagsSelection div#inputWrapper input {
	width: auto;
	margin: 0 10px;
	border-bottom: none;
}

section#HOME div#createPost div#tagsSelection ul#autocomplete{
	display: block;
}



/* * *
	M a n a g e  C o n n e c t i o n s
* * */

section#HOME div#manageConnections {
	position: absolute;
	width: 100%;
	height: 100vh;

	z-index: 15;
	background-color: white;
}

	div#manageConnections::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0;
		transition: all ease-in-out 0.25s;
		z-index: 0;
	}

	div#manageConnections._enter::before {
		transition: all ease-in-out 0.1s;
		z-index: 20;
		opacity: 1;
	}

section#HOME div#manageConnections ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section#HOME div#manageConnections ul li {
	display: flex;
}

section#HOME div#manageConnections ul li p {
	margin: 10px;
}

section#HOME div#manageConnections ul li p span {
	color: var(--site-gray-mid);
}

section#HOME div#manageConnections button#exit {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);

	background-color: transparent;
	border: none;
	outline: none;
}

















