/* * *
	C R E A T E  P O S T
* * */

section#HOME div#createPost {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;

	z-index: 20;
/*	background-color: var(--greyscale-background);*/
	background-color: white;
}

section#HOME div#createPost._fade {
	opacity: 0;
	transition: all ease-in-out 0.5s;
}

	div#createPost::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0;
		transition: all ease-in-out 0.25s;
		z-index: -1;
	}

	div#createPost._enter::before {
		transition: all ease-in-out 0.1s;
		z-index: 20;
		opacity: 1;
	}

	div#createPost._modalActive::before {
		background-color: rgba(236, 236, 236, 0.5);
		transition: all ease-in-out 0.1s;
		z-index: 20;
		opacity: 1;
	}

	div#createPost._loading::before {
		transition: all ease-in-out 0.3s;
		z-index: 20;
		opacity: 0.5;
	}



section#HOME div#createPost div#headerWrapper {
	display: flex;
	width: 97%;
	margin: 16px 0 24px;
	margin-left: auto;
}


section#HOME div#createPost div#headerWrapper svg {
	display: inline-block;
	margin-right: 0;
}

section#HOME div#createPost div#headerWrapper div#dateSetter {
	display: inline-block;
	position: relative;
	margin-left: 20px;
	top: -8px;
}

section#HOME div#createPost div#headerWrapper div#dateSetter h3,
section#HOME div#createPost div#headerWrapper div#dateSetter h2 {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1em;
	color: var(--greyscale-accent);
	letter-spacing: 2px;
	line-height: 22px;
	margin: 12px 0 4px;
}

section#HOME div#createPost div#headerWrapper div#dateSetter h2 {
	font-size: 2em;
	color: var(--greyscale-details);
	margin: 8px 0 0;
}


section#HOME div#createPost div#headerWrapper svg#draftIcon {
	position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 4px;
    padding: 8px 8px 9px 10px;
    transition: all ease-in-out 0.2s;
}

section#HOME div#createPost div#headerWrapper svg#draftIcon.hover {
    background-color: var(--greyscale-backdrop);
    border-radius: 8px;
}

section#HOME div#createPost div#headerWrapper svg#draftIcon path, 
section#HOME div#createPost div#headerWrapper svg#draftIcon rect {
	fill: var(--greyscale-icons);
}



section#HOME div#createPost form {
	width: 95%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100% - 160px);
}

div#createPost fieldset {
	padding: 0;
	border: none;
}

div#createPost input,
div#createPost textarea {

	width: 100%;
	display: block;
	margin: 16px 0;
	border: none;
	border-bottom: 2px solid var(--greyscale-elements);
	padding: 8px 2px;
	background-color: transparent;

	font-family: 'Raleway';
	font-weight: 400;
	font-size: 0.9em;
	color: var(--greyscale-text);
	letter-spacing: 2px;
	line-height: 22px;
}

div#createPost div button.remove {
	display: block;
	margin: 0;
	font-size: 0.8em;
	width: fit-content;
	margin-left: auto;
}

div#createPost input::placeholder,
div#createPost textarea::placeholder  {
	color: var(--greyscale-accent);
}


div#createPost input:focus,
div#createPost textarea:focus {
	outline: none;
	border-bottom-color: var(--greyscale-text);
}


div#createPost input#title {
	font-size: 1.5em;
	margin-bottom: 4px;
}

div#createPost fieldset.textareaImageAdd {
	width: 100%;
}

div#createPost fieldset img {
	width: 100%;
	margin: 24px 0;
	border-radius: 8px;
}

div#createPost fieldset div#moreContent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: -8px;
}

div#createPost fieldset button,
div#createPost fieldset label {
	margin: 32px 0;
	width: 100%;
}

div#createPost fieldset div#moreContent label.imageAdd {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 1.25em;
	color: black;
	letter-spacing: 3px;
	text-transform: uppercase;
}

div#createPost fieldset div#moreContent input#addImage {
	border-bottom: none;
	display: none;
}



section#HOME div#createPost div#options {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	bottom: 0px;
}

section#HOME div#createPost div#options button {
	background-color: transparent;
	border: none;
	outline: none;
	width: 50%;
	padding: 24px 0;
}



section#HOME div#createPost div#taggedUsers {
	margin: 36px auto;
	border-bottom: 1px solid var(--greyscale-accent);
}

	section#HOME div#createPost div#taggedUsers p {
		margin: 8px;
		margin-left: 0;
		color: var(--greyscale-accent);

		font-family: 'Raleway';
    	font-weight: 400;
    	font-size: 0.9em;
    	color: var(--greyscale-text);
    	letter-spacing: 2px;
    	line-height: 22px;
	}

	section#HOME div#createPost div#taggedUsers ul#selected {
		margin: 8px 8px;
		padding: 0;
		list-style-type: none;
	}

	section#HOME div#createPost div#taggedUsers ul#selected li {
		display: inline-block;
		margin: 0 4px;
	}

	section#HOME div#createPost div#taggedUsers ul#options {
		height: 100px;
		overflow-x: scroll;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	section#HOME div#createPost div#taggedUsers ul#options li {
		margin: 8px 8px 8px 16px;
	}

	section#HOME div#createPost div#taggedUsers ul#options li span {
		display: inline-block;
	}

	section#HOME div#createPost div#taggedUsers ul#options li p {
		display: inline-block;
		color: black;
		margin-left: 9px;
	}


section#HOME div#createPost div#tagsSelection {
/*	margin-bottom: 36px;*/
}

section#HOME div#createPost div#tagsSelection div#inputWrapper div#selected{
	
}

section#HOME div#createPost div#tagsSelection div#inputWrapper {
/*	width: 100%;*/
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid var(--greyscale-elements);
}

section#HOME div#createPost div#tagsSelection div#inputWrapper ul#selected {
/*	max-width: 100%;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 4px;
}

section#HOME div#createPost div#tagsSelection div#inputWrapper ul#selected li {
	display: block;
	position: relative;
/*	top: 7px;*/
	margin: 4px;
	margin-top: 6px;
	border: 2px solid var(--greyscale-accent);
	border-radius: 12px;
	padding: 6px 8px;
}

section#HOME div#createPost div#tagsSelection div#inputWrapper ul#selected li p {
	display: inline;
	color: var(--greyscale-text);
}

section#HOME div#createPost div#tagsSelection div#inputWrapper ul#selected li svg {
	display: inline;
	margin: 0 0 -2px 6px;
}

section#HOME div#createPost div#tagsSelection div#inputWrapper input {
	width: auto;
	margin: 0 10px;
	border-bottom: none;
	margin-left: -4px;
}

/**
 * 12. 30. 2023
 * place ul#autocomplete in wrapper with button prompt for
 * creating new tags
 * div
 *   ul#autocomplete
 *   button#newTag
 */

section#HOME div#createPost div#tagsSelection div#resultsWrapper {
	background-color: white;
}

section#HOME div#createPost div#tagsSelection ul#autocomplete {
	list-style-type: none;
	display: block;
	height: 100px;
	margin-top: 0px;
	padding: 12px 0 12px 20px;
	overflow-y: scroll;
}

section#HOME div#createPost div#tagsSelection ul#autocomplete li {
	margin: 12px 0;
}

section#HOME div#createPost div#tagsSelection div#resultsWrapper button#makeNewTag {
	width: 100%;
	margin: 8px auto 20px;
	text-align: center;
}

section#HOME div#createPost div#tagsSelection div#resultsWrapper div#no-autocomplete {
	width: 100%;
	text-align: center;
	margin: 36px 0 24px;
	color: var(--greyscale-accent);
}



section#HOME div#createPost form button#setPrivate {
	text-align: left;
	margin: 36px 0 16px;
}

section#HOME div#createPost form button#setPrivate.nonActive {
	color: var(--greyscale-accent);
}

section#HOME div#createPost form button#pinLocation {
	text-align: left;
	margin: 8px 0;
	margin-bottom: 28px;
	display: block;
}

section#HOME div#createPost form button#pinLocation.nonActive {
	color: var(--greyscale-accent);
}



section#HOME div#createPost div#createNewTag {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 2px solid var(--greyscale-elements);
	border-radius: 4px;
	padding: 20px;

	z-index: 21;
/*	opacity: 0;*/
	animation: 0.25s ease-in-out forwards _enter;
}

section#HOME div#createPost div#createNewTag.leave {
	animation: 0.25s ease-in-out forwards _leave;
}

section#HOME div#createPost div#createNewTag h2 {
	font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.75em;
    color: var(--greyscale-text);
    letter-spacing: 2px;
    line-height: 22px;
}

section#HOME div#createPost div#createNewTag input {
	margin: 48px auto 36px;
}

section#HOME div#createPost div#createNewTag div#buttonWrapper {
	margin: 8px auto 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

section#HOME div#createPost div#createNewTag div#buttonWrapper button {
	width: 50%;
}

section#HOME div#createPost div#createNewTag div#buttonWrapper button.nonActive {
	color: var(--greyscale-accent);
}









div#createPost form div#coordinatesWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 98%;
	margin: 16px auto 36px;
}

	div#createPost form div#coordinatesWrapper.enter {
		animation: 0.25s ease-in-out forwards _enter;
	}

	div#createPost form div#coordinatesWrapper.leave {
		animation: 0.25s ease-in-out forwards _leave;
	}

div#createPost form div#coordinatesWrapper div#lonWrap,
div#createPost form div#coordinatesWrapper div#latWrap {
	width: 48%;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid var(--greyscale-accent);
}

div#createPost form div#coordinatesWrapper div#lonWrap.active,
div#createPost form div#coordinatesWrapper div#latWrap.active {
	border-color: black;
}


div#createPost form div#coordinatesWrapper div#lonWrap p,
div#createPost form div#coordinatesWrapper div#latWrap p {
	margin: 8px 0;
	display: block;

	font-family: 'Raleway';
    font-weight: 400;
/*    font-size: 1.75em;*/
    color: var(--greyscale-accent);
    letter-spacing: 2px;
/*    line-height: 22px;*/
}

div#createPost form div#coordinatesWrapper div#lonWrap p.active,
div#createPost form div#coordinatesWrapper div#latWrap p.active {
	color: black;
}


div#createPost form div#coordinatesWrapper div#lonWrap input,
div#createPost form div#coordinatesWrapper div#latWrap input {
	margin: 0;
	border-bottom: none;
	padding: 0 16px;
}