
article#blogpost {
	height: 100vh;
	position: relative;
	top: -100%;
	background-color: white;
	z-index: 5;
}



article#blogpost div#delete,
article#blogpost div#update {
	width: 100%;
	height: 100vh;
}



article#blogpost ul#postDetails {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

article#blogpost ul#postDetails li {
	text-align: center;
	border: none;
	background-color: transparent;
}

	article#blogpost ul#postDetails li#toggle {
		text-align: center;
		margin: 20px 0 10px;
	}

		article#blogpost ul#postDetails li button {
			border: none;
			background-color: transparent;
			color: var(--initial-color);
			font-size: 1em;
			font-family: 'Open Sans';
			letter-spacing: 2px;
		}

article#blogpost ul#postDetails ul#info {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

	article#blogpost ul#postDetails ul#info li {
		margin: 10px 0;
	}

	article#blogpost ul#postDetails ul#info li.ownerControls {
		display: inline-block;
		margin: 0 auto;
	}

	article#blogpost ul#postDetails ul#info li ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}