
div#connectList {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;

	background-color: white;
	z-index: 11;
}

div#connectList input#search {}

div#connectList div#currentConnections {}

div#connectList div#results {}