
header {
	width: 92%;
	margin: 0 auto;
	border-bottom: 2px solid var(--site-gray-mid);
}

header div {
	position: relative;
}

header h2 {
	font-weight: 600;
	line-height: 40px;
	font-size: 1.5em;
	color: var(--site-gray-mid);

	margin: 20px 0 15px 0px;
}

header h2 span {
	margin: 0 4px;
}

header h2 span:first-of-type {
	margin-left: 0px;
}

header div button#menuToggle {
	position: absolute;
	top: 15%;
	right: -10px;

	background: none;
	border: none;
	/*border-bottom: 2px solid var(--site-gray-mid);*/
	font-size: 2.75em;
	color: var(--site-gray-mid);
}

	header div button#menuToggle.active {
		color: black;
	}