

div.entry p span[data-code="u"] {
	text-decoration: underline;
}

div.entry p span[data-code="color"] {
	background: linear-gradient(90deg, rgba(27,86,181,1) 0%, rgba(31,209,178,1) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

div#daylog {
	margin-bottom: 60px;
}

div#daylog h1#noPostsToday {
	color: rgba(0, 0, 0, 0.05);
}

div.entry_SL {
	text-align: right;
}




div#blogLog {
	position: relative;
	height: 100%;
	overflow-y: hidden;
}




div#blogLog div#switch {
	position: relative;
	margin: 40px auto;
	background-color: white;
	z-index: 2;
}

div#blogLog div#switch::before {
	content: '';
	display: block;
	top: -50px;
	width: 100%;
	height: 80px;
	background-color: white;
	transition: all 0.3s ease-out;
	position: absolute;
}

	div#blogLog div#switch button {
		border: none;
		background-color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s ease;

		font-size: 1.5em;
	}

	div#blogLog div#switch button#right {}

		div#blogLog div#switch button#right.active {
			left: 50%;
			transform: translate(-50%, -50%);
		}

		div#blogLog div#switch button#right.nonActive {
			left: 70%;
			transform: translate(-50%, -50%);
			font-size: 1em;
			color: var(--site-gray-mid);
		}

	div#blogLog div#switch button#left {}

		div#blogLog div#switch button#left.active {
			left: 50%;
			transform: translate(-50%, -50%);
		}

		div#blogLog div#switch button#left.nonActive {
			left: 30%;
			transform: translate(-50%, -50%);
			font-size: 1em;
			color: var(--site-gray-mid);
		}	




div#blogLog div#userlog,
div#blogLog div#socialLog {
	/*margin-top: 30px;*/
	position: absolute;
	height: 100%;
	overflow-y: scroll;
	padding-top: 30px;
	-ms-overflow-style: none; 
  	scrollbar-width: none; 
}

div#blogLog div#userlog::-webkit-scrollbar ,
div#blogLog div#socialLog::-webkit-scrollbar  {
	display: none;
}



div#blogLog div.entry {
	margin: 40px 0;
}

div#blogLog div.entry span.postDate {
	display: block;
	text-align: right;

	font-size: 2em;
	color: rgba(0, 0, 0, 0.05);
	font-weight: 700;
}

div#blogLog div.entry h2 {
	font-weight: 500;
	margin: 10px 0;
}

div#blogLog div.entry p {
	font-size: 0.9rem;
	line-height: 20px;
	margin: 0px 0 10px;
	width: 90%;
}

div#blogLog div.entry span#username {

}

div#blogLog div.entry ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div#blogLog div.entry ul li {}



div#blogLog div#userlog {
	left: 100%;
	z-index: -10;
}

div#blogLog div#userlog.userEntry {
	animation-name: userEntry;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
	z-index: 1;
}

@keyframes userEntry {
	from {
		left: 100%;
		opacity: 0;
	}

	to {
		left: 0%;
		opacity: 1;
	}
}

div#blogLog div#userlog.userLeave {
	animation-name: userLeave;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

@keyframes userLeave {
	from {
		left: 0%;
		opacity: 1;
	}
	to {
		left: 100%;
		opacity: 0;
	}
}


/*
	08. 29. 2022
	3 class states for the logs: 
	- Initial state:  is the first log that loads, so it's front and center
	- slide states: right to center  (user entry)
					center to right. (user leave)

	  				left to center.	 (social entry)
	  				center to left.  (social leave)

	by default, each log will be offscreen to it's respective side
*/

div#blogLog div#userlog::before {
	content: '';
	display: block;
	width: 40px;
	height: 100vh;
	background-color: transparent;
	transition: all 0.3s ease-out;
	position: absolute;
	/*z-index: 2;*/
}

	div#blogLog div#userlog::before:hover {
		background-color: rgba(25, 41, 88, 0.25);
	}

	div#blogLog div#userlog div#sidebar {
		position: fixed;
		border-right: 2px solid var(--site-gray-mid);
		height: 100%;
		transition: all 0.2s ease-out;
		z-index: 2;
		/*color: var(--site-gray-mid);*/
	}

	div#blogLog div#userlog div#sidebar p {
		display: block;
		word-break: break-all;
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 20px;
		margin: 0 10px;
		position: relative;
		color: black;
		transform: translateY(50%);
	}

	div#blogLog div#userlog div#sidebar button {
		background-color: transparent;
		border: none;

		display: block;
		width: 20px;
		margin: 20px 0 0 5px;
		position: relative;
	}

	div#blogLog div#userlog div#sidebar button:hover p {
		color: royalblue;
	}

	div#blogLog div#userlog div#sidebar:hover {
			border-color: royalblue;
	}

	div#blogLog div#userlog div#sidebar button p{
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 18px;
		word-break: break-all;
		color: var(--site-gray-mid);
		margin: 0;
	}


	div#blogLog div#userlog div#daylog {
		margin-left: 60px;
		position: relative;
		height: 100%;
	}


div#blogLog div#socialLog {
	left: -100%;
	opacity: 0;
	z-index: -10;
}

div#blogLog div#socialLog div.entry span.postDate {
	text-align: left;
}

div#blogLog div#socialLog div.entry p {
	box-sizing: content-box;
    padding-left: 10%;
	margin-right: 0;
}


div#blogLog div#socialLog.socialEntry {
	animation-name: socialEntry;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
	z-index: 1;
}

@keyframes socialEntry {
	from {
		left: -100%;
		opacity: 0;
	}

	to {
		left: 0%;
		right: 0%;
		opacity: 1;
	}
}

div#blogLog div#socialLog.socialLeave {
	animation-name: socialLeave;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

@keyframes socialLeave {
	from {
		left: 0%;
		opacity: 1;
	}

	to {
		left: -100%;
		opacity: 0;
	}
}




div#blogLog div#socialLog::before {
	content: '';
	display: block;
	width: 40px;
	height: 100vh;
	background-color: transparent;
	transition: all 0.3s ease-out;
	position: absolute;
	right: 0;
	z-index: 2;
}


	div#blogLog div#userlog div#sidebar p {
		display: block;
		word-break: break-all;
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 20px;
		margin: 0 10px;
		position: relative;
		color: black;
		transform: translateY(50%);
	}


	div#blogLog div#socialLog div#sidebar {
		position: fixed;
		right: 0;
		border-left: 2px solid var(--site-gray-mid);
		height: 100%;
		transition: all 0.2s ease-out;
		color: var(--site-gray-mid);
	}

	div#blogLog div#socialLog div#sidebar p {
		word-break: break-all;
		width: 20px;
		display: block;
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		margin: 0 10px;
		position: relative;
		color: black;
		transform: translateY(20%);
	}

	div#blogLog div#socialLog div#sidebar button {
		background-color: transparent;
		border: none;

		display: block;
		width: 20px;
		margin: 20px 10px 0 0;
		position: relative;
	}

	div#blogLog div#socialLog div#sidebar button p{
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 18px;
		word-break: break-all;
		color: var(--site-gray-mid);
		margin: 0;
	}


div#blogLog div#socialLog div#daylog {
	margin-right: 60px;
	text-align: right;
	position: relative;
	height: 100%;
}


/*
	C A L E N D A R 
*/


div#monthChart div#header {
	position: relative;
	width: 90%;
	height: 1.5em;
	margin: 40px auto 60px;
}

div#monthChart div#header span {
	font-size: 1.5em;
}

	div#monthChart div#header span#prev {
		position: absolute;
		top: 100%;
		left: 10%;
		transform: translateY(-50%);
		transition: all 0.5s ease-in-out;
		opacity: 1;
	}

			div#monthChart div#header span#prev.off {
				opacity: 0;
			}


			div#monthChart div#header span#prev.prevStart {
				animation-name: prevStart;
				animation-fill-mode: forwards;
				animation-duration: 1s;
				animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
			}

				@keyframes prevStart {
					0% {
						top: 100%;
						left: 10%;
					}

					70% {
						font-size: 3em;
						top: 50%;
						left: 50%;
/*						right: unset;*/
						transform: translate(-50%, -50%);
					}

					100% {
						opacity: 0;

						font-size: 3em;
						top: 50%;
						left: 50%;
						right: unset;
						transform: translate(-50%, -50%);
					}
				}

			div#monthChart div#header span#prev.prevEnd {
				animation-name: prevEnd;
				animation-fill-mode: forwards;
				animation-duration: 0.5s;
				animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
/*				opacity: 0;*/
			}

				@keyframes prevEnd {
					0% {
						opacity: 0;
						font-size: 3em;
						top: 50%;
						left: 50%;
						right: unset;
						transform: translate(-50%, -50%);
					}

					99% {
						top: 100%;
						left: 10%;
						transform: translateY(-50%);
					}

					100% {
						opacity: 1;

						top: 100%;
						left: 10%;
						transform: translateY(-50%);
					}
				}


	div#monthChart div#header span#current {
		font-size: 3em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 1;
	}

			div#monthChart div#header span#current.switch {
				opacity: 0;
			}

	div#monthChart div#header span#year {
		letter-spacing: 10px;
		position: absolute;
		top: 200%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding-left: 10px;
		transition: all 0.5s ease-in-out;
	}

		div#monthChart div#header span#year.off {
			opacity: 0;
		}

	div#monthChart div#header span#next {
		position: absolute;
		top: 100%;
		right: 10%;
		transform: translateY(-50%);
		transition: all 0.5s ease-in-out;
		opacity: 1;
	}

		div#monthChart div#header span#next.off {
			opacity: 0;
		}

			div#monthChart div#header span#next.nextStart {
				animation-name: nextStart;
				animation-fill-mode: forwards;
				animation-duration: 1s;
				animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
			}

				@keyframes nextStart {
					0% {
						top: 100%;
						right: 10%;
					}

					70% {
						font-size: 3em;
						top: 50%;
						left: 50%;
						right: unset;
						transform: translate(-50%, -50%);
					}

					100% {
						opacity: 0;

						font-size: 3em;
						top: 50%;
						left: 50%;
						right: unset;
						transform: translate(-50%, -50%);
					}
				}

			div#monthChart div#header span#next.nextEnd {
				animation-name: nextEnd;
				animation-fill-mode: forwards;
				animation-duration: 0.5s;
				animation-timing-function: cubic-bezier(0.6, -0.28, 0.74, 0.05);
/*				opacity: 0;*/
			}

				@keyframes nextEnd {
					0% {
						opacity: 0;
						font-size: 3em;
						top: 50%;
						left: 50%;
						right: unset;
						transform: translate(-50%, -50%);
					}

					99% {
						top: 100%;
						right: 10%;
						transform: translateY(-50%);
					}

					100% {
						opacity: 1;

						top: 100%;
						right: 10%;
						transform: translateY(-50%);
					}
				}



div#monthChart div#calendar {
	position: relative;
	left: 0;
}

	div#monthChart div#calendar.next_Leave {
		animation-name: calNextLeave;
		animation-fill-mode: forwards;
		animation-duration: 0.75s;
		animation-timing-function: ease-in;
	}

		@keyframes calNextLeave {
			0% {
				left: 0%;
			}

			100% {
				left: -100%;
				transform: scale(0.75);
				opacity: 0;
			}
		} 
		/*scale down, move to the left, fade out.*/
		

	div#monthChart div#calendar.next_Return {
		animation-name: calNextReturn;
		animation-fill-mode: forwards;
		animation-duration: 0.75s;
		animation-timing-function: ease-in;
	}

		@keyframes calNextReturn {
			0% {
				left: 100%;
				transform: scale(0.75);
				opacity: 0;
			}

			 100% {
			 	left: 0%
			 }
		} 
		/*fades in from left scaled up, scales down moving to center*/



	div#monthChart div#calendar.prev_Leave {
		animation-name: calPrevLeave;
		animation-fill-mode: forwards;
		animation-duration: 0.75s;
		animation-timing-function: ease-in;
	}

		@keyframes calPrevLeave {
			0% {
				left: 0%;
			}

			100% {
				left: 100%;
				transform: scale(0.75);
				opacity: 0;
			}
		}
		/*scale down, move to the right, fade out.*/
		

	div#monthChart div#calendar.prev_Return {
		animation-name: calPrevReturn;
		animation-fill-mode: forwards;
		animation-duration: 0.75s;
		animation-timing-function: ease-in;
	}

		@keyframes calPrevReturn {
			0% {
				left: -100%;
				transform: scale(0.75);
				opacity: 0;
			}

			100% {
				left: 0%;
			}
		}
		/*fades in from the right scaled up, scales down moving to center*/



div#monthChart div#calendar div#dayWrapper {
	display: flex;
	justify-content: space-evenly;

}

div#monthChart div#calendar div#dayWrapper div.dayOfTheWeek {
	display: inline-block;
	padding: 10px;
}


div#monthChart div#calendar div#datesWrapper {
	margin: 0 auto;
	width: 95%;
}

div#monthChart div#calendar div#datesWrapper div.row {
	display: flex;
	justify-content: space-evenly;
	position: relative;
}

	div#monthChart div#calendar div#datesWrapper div.row div.cell {
		width: calc(100% / 7);
/*		padding: 5px 0;*/
		margin: 5px 0;
		position: relative;
	}

		div#monthChart div#calendar div#datesWrapper div.row div.cell p {
			text-align: center;
		}


	div#monthChart  div.row div.cell div.tallyWrapper {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(180deg) scaleX(-1);
		justify-content: space-evenly;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

		div#monthChart  div.row div.cell div.tallyWrapper span.tally {
			display: inline-block;
			width: 0px;
/*			height: 20px;*/
			border: 1px solid rgba(0, 0, 0, .1);
			margin: 0 ;
		}

		div#monthChart  div.row div.cell div.tallyWrapper span.tally.on {
			border-color: black;
		}

			span.tally:first-child {
				height: 16%;
			}
			span.tally:nth-child(2) {
				height: 32%;
			}
			span.tally:nth-child(3) {
				height: 48%;
			}
			span.tally:nth-child(4) {
				height: 64%;
			}
			span.tally:last-child {
				height: 48%;
			}