div.entry p span[data-code="u"] {
	text-decoration: underline;
}

div.entry p span[data-code="color"] {
	background: linear-gradient(90deg, rgba(27,86,181,1) 0%, rgba(31,209,178,1) 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

div#daylog {
	margin-bottom: 60px;
}

div.entry_SL {
	text-align: right;
}




div#blogLog {
	position: relative;
}




div#blogLog div#switch {
	position: relative;
	margin: 40px auto;
}

	div#blogLog div#switch button {
		border: none;
		background-color: transparent;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.2s ease;

		font-size: 1.5em;
	}

	div#blogLog div#switch button#right {}

		div#blogLog div#switch button#right.active {
			left: 50%;
			transform: translate(-50%, -50%);
		}

		div#blogLog div#switch button#right.nonActive {
			left: 70%;
			transform: translate(-50%, -50%);
			font-size: 1em;
			color: var(--site-gray-mid);
		}

	div#blogLog div#switch button#left {}

		div#blogLog div#switch button#left.active {
			left: 50%;
			transform: translate(-50%, -50%);
		}

		div#blogLog div#switch button#left.nonActive {
			left: 30%;
			transform: translate(-50%, -50%);
			font-size: 1em;
			color: var(--site-gray-mid);
		}	




div#blogLog div#userlog,
div#blogLog div#socialLog {
	margin-top: 30px;
	position: absolute;
	/*padding-top: 30px;*/
}


div#blogLog div#userlog {
	left: 100%;
}

div#blogLog div#userlog.userEntry {
	animation-name: userEntry;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

@keyframes userEntry {
	from {
		left: 100%;
	}

	to {
		left: 0%;
	}
}

div#blogLog div#userlog.userLeave {
	animation-name: userLeave;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

@keyframes userLeave {
	from {
		left: 0%;
	}
	to {
		left: 100%;
	}
}


/*
	08. 29. 2022
	3 class states for the logs: 
	- Initial state:  is the first log that loads, so it's front and center
	- slide states: right to center  (user entry)
					center to right. (user leave)

	  				left to center.	 (social entry)
	  				center to left.  (social leave)

	by default, each log will be offscreen to it's respective side
*/

div#blogLog div#userlog::before {
	content: '';
	display: block;
	width: 40px;
	height: 100vh;
	background-color: transparent;
	transition: all 0.3s ease-out;
	position: absolute;
	/*z-index: 2;*/
}

	div#blogLog div#userlog::before:hover {
		background-color: rgba(25, 41, 88, 0.25);
	}

	div#blogLog div#userlog div#sidebar {
		position: absolute;
		border-right: 2px solid var(--site-gray-mid);
		height: 100%;
		transition: all 0.2s ease-out;
		z-index: 2;
		/*color: var(--site-gray-mid);*/
	}

	div#blogLog div#userlog div#sidebar p {
		display: block;
		word-break: break-all;
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 20px;
		margin: 0 10px;
		position: relative;
		color: black;
		/*top: 50%;
		transform: translateY(-50%);*/
	}

	div#blogLog div#userlog div#sidebar button {
		background-color: transparent;
		border: none;

		display: block;
		width: 20px;
		margin: 20px 0 0 5px;
		position: relative;
	}

	div#blogLog div#userlog div#sidebar button:hover p {
		color: royalblue;
	}

	div#blogLog div#userlog div#sidebar:hover {
			border-color: royalblue;
	}

	div#blogLog div#userlog div#sidebar button p{
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 18px;
		word-break: break-all;
		color: var(--site-gray-mid);
		margin: 0;
	}


	div#blogLog div#userlog div#daylog {
		margin-left: 60px;
	}


div#blogLog div#socialLog {
	left: -100%;
}


div#blogLog div#socialLog.socialEntry {
	animation-name: socialEntry;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

@keyframes socialEntry {
	from {
		left: -100%;
	}

	to {
		left: 0%;
		right: 0%;
	}
}

div#blogLog div#socialLog.socialLeave {
	animation-name: socialLeave;
	animation-fill-mode: forwards;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}

@keyframes socialLeave {
	from {
		left: 0%;
	}

	to {
		left: -100%;
	}
}




div#blogLog div#socialLog::before {
	content: '';
	display: block;
	width: 40px;
	height: 100vh;
	background-color: transparent;
	transition: all 0.3s ease-out;
	position: absolute;
	right: 0;
	z-index: 2;
}

	div#blogLog div#socialLog div#sidebar {
		position: absolute;
		right: 0;
		border-left: 2px solid var(--site-gray-mid);
		height: 100%;
		transition: all 0.2s ease-out;
		color: var(--site-gray-mid);
	}

	div#blogLog div#socialLog div#sidebar p {
		word-break: break-all;
		width: 20px;
		display: block;
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		margin: 0 10px;
		position: relative;
		color: black;
	}

	div#blogLog div#socialLog div#sidebar button {
		background-color: transparent;
		border: none;

		display: block;
		width: 20px;
		margin: 20px 10px 0 0;
		position: relative;
	}

	div#blogLog div#socialLog div#sidebar button p{
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		width: 18px;
		word-break: break-all;
		color: var(--site-gray-mid);
		margin: 0;
	}


div#blogLog div#socialLog div#daylog {
	margin-right: 60px;
	text-align: right;
}