
div#interactions {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;

	background-color: white;
	z-index: 11;
}

	div#interactions.mute {
		display: none;
	}

	div#interactions.active {
		display: block;
	}

	button#exit {
		position: absolute;
    	bottom: 0;
    	width: 100%;
    	background-color: transparent;
    	border: none;
    	font-size: 1.2em;
    	padding: 20px 0;
	}