
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');


body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100lvh;
	position: relative;
	background-color: var(--greyscale-background);
}

section#BASE {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 100%;
	height: 100dvh;
	overflow: hidden;
/*	background-color: var(--greyscale-background);*/
	background-color: white;
}



:root {
  --site-gray-lightest: rgba(112, 112, 112, 0.1);
  --site-gray-lite: rgba(112, 112, 112, 0.25);
  --site-gray-mid: rgba(112, 112, 112, 0.6);
  --site-gray-middle: rgba(112, 112, 112, 0.9);
  --initial-color: royalblue;

  /** Greyscale Theme **/
  --greyscale-background: rgba(236, 236, 236, 1);
  --greyscale-background-2: rgba(236, 236, 236, 1);
  --greyscale-text: rgba(0, 0, 0, 0.5);
  --greyscale-accent: rgba(0, 0, 0, 0.2);
  --greyscale-elements: rgba(31, 31, 31, 0.1);
  --greyscale-details: rgba(0, 0, 0, 1);
  --greyscale-error: rgba(226, 60, 93, 0.6);
}





/* * * *
		C O M M O N  S T Y L E S 
* * * */

button.buttonDefault {
	font-family: "Raleway";
	font-weight: 400;
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 3px;

	transition: all ease-in-out 0.25s;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button.buttonDefault._inactive {
	color: var(--greyscale-accent);
}

button.buttonDefault._inactive:active {
	color: black;
}


div.log {
	overflow-y: scroll;
}



@keyframes _enter {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes _leave {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
