div#MAP {
	position: absolute;
	width: 96%;
	height: calc(100% - 150px);
	z-index: 15;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	animation: 0.25s ease-in-out forwards scaleFadeIn;
}

	div#MAP.leave {
		animation: 0.25s ease-in-out forwards scaleFadeOut;
	}


div#MAP div#ol_map {
	width: 96%;
	height: 50%;
	margin: 24px auto;
}

div#MAP div#ol_map div.ol-attribution.ol-uncollapsible {
	display: none;
}