div#MAP {
	position: relative;
	width: 96%;
	height: calc(100% - 150px);
	z-index: 15;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: hidden;
	animation: 0.25s ease-in-out forwards scaleFadeIn;
}

	div#MAP.leave {
		animation: 0.25s ease-in-out forwards scaleFadeOut;
	}


div#MAP div#ol_map {
	width: 98%;
	height: 75%;
	margin: 24px auto 36px;
}

div#MAP div#ol_map div.ol-viewport {
	border-radius: 8px;
}

div#MAP div#ol_map div.ol-attribution.ol-uncollapsible {
	display: none;
}

div#MAP div#ol_map div.ol-zoom.ol-unselectable.ol-control {
	display: none;
}

/* Controls Wrapper */
div#ol_map div.ol-zoom.ol-unselectable.ol-control {
	
}

div#ol_map div.ol-zoom.ol-unselectable.ol-control button {

}

/* recenter button wrapper */
div#ol_map div.recenter-button { 
	border: 2px solid var(--greyscale-background);
	display: block;
	padding: 4px;
	position: absolute;
    left: 50%;
    bottom: 16px; 
    transform: translateX(-50%);
}

div#ol_map div.recenter-button button#recenter {
	background-color: transparent;
	padding: 0;
	color: var(--greyscale-accent);
	transition: all 0.2s ease-in-out;
	transform: scale(1.375);
}

div#ol_map div.recenter-button button#recenter:hover {
	outline: none;
	color: var(--greyscale-text);
}

div#ol_map div.recenter-button button#recenter svg {}

div#ol_map div.recenter-button button#recenter svg g,
div#ol_map div.recenter-button button#recenter svg line {
	stroke: var(--greyscale-background);
}


/* zoom out button wrapper */
div#ol_map div.zoom-out-button {
	border: 2px solid var(--greyscale-background);
	display: block;
	padding: 4px;
	position: absolute;
	left: 10px;
	bottom: 16px;
}

div#ol_map div.zoom-out-button button#zoomOut {
	background-color: transparent;
	padding: 0;
	color: var(--greyscale-background);
	transition: all 0.2s ease-in-out;
	transform: scale(1.5);
}

/*zoom in button wrapper */
div#ol_map div.zoom-in-button {
	border: 2px solid var(--greyscale-background);
	display: block;
	padding: 4px;
	position: absolute;
	right: 10px;
	bottom: 16px;
}

div#ol_map div.zoom-in-button button#zoomIn {
	background-color: transparent;
	padding: 0;
	color: var(--greyscale-background);
	transition: all 0.2s ease-in-out;
	transform: scale(1.5);
}

div#ol_map div.recenter-button button#recenter:hover,
div#ol_map div.zoom-in-button button#zoomIn:hover,
div#ol_map div.zoom-out-button button#zoomOut:hover {
	outline: none;
	transform: scale(3);
}



div#MAP div#header {
	width: fit-content;
	margin: 12px auto 24px;
}

div#MAP div#header h2 {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--greyscale-accent);
	margin: 0;
	padding: 6px 8px;
}

div#MAP div#header button {
	font-size: 1.5em;
}



div#MAP div#popUpPost {
	width: 92%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	margin: 0 auto;
	padding: 12px 0;
	bottom: 0%;
	background-color: white;
	border-radius: 8px;
	overflow-x: hidden;
}

	div#MAP div#popUpPost.up {
		animation: 0.5s ease-in-out forwards up;
	}

	@keyframes up {
		0% {
			bottom: -100%;
		}
		100% {
			bottom: 0%;
		}
	}

	div#MAP div#popUpPost.down {
		animation: 0.5s ease-in-out forwards down;
	}

	@keyframes down {
		0% {
			bottom: 0%;
		}
		100% {
			bottom: -100%;
		}
	}

div#MAP div#popUpPost div#exitButtonWrapper {
	display: flex;
	justify-content: flex-end;
}

div#MAP div#popUpPost div#exitButtonWrapper button {
	font-size: 1.5em;
	font-weight: 300;
	transform: scale(2);
	line-height: 12px;
	padding: 1px 0.5px 3px 3px;
	border-radius: 25px;
	border: 1.5px solid var(--greyscale-accent);
	margin: 8px 20px 8px 0px;
	color: var(--greyscale-accent);

/*	float: right;*/
/*	margin-left: 0;*/
}

div#MAP div#popUpPost div#exitButtonWrapper button:focus-visible {
    outline: none;
}

div#MAP div#popUpPost div#exitButtonWrapper button:focus {
    outline: none;
}

div#MAP div#popUpPost div#text {
	width: 90%;
	margin: 0px auto 16px;

	font-family: 'Open Sans';
	font-weight: 400;
}

div#MAP div#popUpPost div#text h2 {
	font-family: "Raleway";
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 32px;
	margin: 8px 0;
}

div#MAP div#popUpPost div#text p {
	font-family: 'Open Sans';
	font-weight: 400;
	margin-top: 12px;
	margin-bottom: 8px;
	color: var(--greyscale-text);
}

div#MAP div#popUpPost div#text ul {
	display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 8px 0 0 -4px;
    padding: 0;
}

div#MAP div#popUpPost div#text ul li {
	font-size: 0.9em;
    letter-spacing: 1px;
    margin: 12px 0;
    margin-left: 4px;
    margin-right: 12px;
}





div#MAP .post-popup {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  transition: transform 0.5s;
}
div#MAP .post-navigation {
  display: flex;
  justify-content: space-between;
}
div#MAP .post-content {
  padding: 10px;
}
div#MAP .post-popup.down {
  transform: translateY(100%);
}
div#MAP .post-popup.up {
  transform: translateY(0);
}



div#MAP div#popUpPost ul#arrowsWrapper {
	margin: 36px 0 20px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div#MAP div#popUpPost ul#arrowsWrapper li {
	margin: 0 36px;
}

div#MAP div#popUpPost ul#arrowsWrapper li svg {
	width: 42px;
	height: 15px;
	transition: all ease-in-out 0.3s;
}

div#MAP div#popUpPost ul#arrowsWrapper li svg:hover {
	transform: scale(1.5);
}

div#MAP div#popUpPost ul#arrowsWrapper li svg.left{
	transform: rotate(180deg);
}

div#MAP div#popUpPost ul#arrowsWrapper li svg.left:hover {
	transform: rotate(180deg) scale(1.25);
}

div#MAP div#popUpPost ul#arrowsWrapper li svg line {
	stroke: var(--greyscale-details);
	stroke-width: 1.5;
}



div#MAP div#popUpPost ul#thumbnailsWrapper {
	width: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style-type: none;
	margin: 24px 0;
	margin-left: -4px;
	padding: 0;
	z-index: 20;
}

div#MAP div#popUpPost ul#thumbnailsWrapper li {
	width: 120px;
	height: 120px;
	width: 88px;
	height: 88px;
	padding: 0 6px;
/*	margin: 0 16px;*/
}

div#MAP div#popUpPost ul#thumbnailsWrapper li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
    border-radius: 4px;
    opacity: 0.75;
}






div#MAP div#filters {}

div#MAP div#filters p {
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 2px;

	margin: 8px auto;
	width: fit-content;
}

div#MAP div#filters ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 16px auto;
	padding: 0;
}

div#MAP div#filters ul li {
}

div#MAP div#filters ul li button {}

div#MAP div#filters ul li button.active {
	color: black;
}

div#MAP div#filters ul li button.inactive {
	color: var(--greyscale-accent);
}








div#MAP div#dateSelection {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

	div#MAP div#dateSelection::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0;
		transition: all ease-in-out 0.25s;
		z-index: -1;
	}

	div#MAP div#dateSelection._enter::before {
		transition: all ease-in-out 0.1s;
		z-index: 21;
		opacity: 1;
	}


div#MAP div#dateSelection p#firstNotice {
	font-family: 'Raleway';
	font-weight: 400;
	color: var(--greyscale-accent);
	text-align: center;
	letter-spacing: 2px;
	line-height: 24px;

	width: 90%;
	margin: 48px auto 36px;
}

div#MAP div#dateSelection p#secondNotice {
	font-family: 'Raleway';
	font-weight: 400;
	color: var(--greyscale-accent);
	text-align: center;
	letter-spacing: 2px;

}


div#MAP div#dateSelection ul#monthSelection {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


div#MAP div#dateSelection ul#monthSelection li {
	width: 25%;
	margin: 8px 0;
}

div#MAP div#dateSelection ul#monthSelection li button {
	display: block;
	margin: 0 auto;
	padding: 16px;
	color: var(--greyscale-accent);
}

div#MAP div#dateSelection ul#monthSelection li button.selected {
	color: black;
}

div#MAP div#dateSelection input {
	width: 64px;
    display: block;
    margin: 36px auto 16px;
    border: none;
    border-bottom: 2px solid var(--greyscale-elements);
    padding: 8px 2px;
    background-color: transparent;

    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.5em;
/*    color: var(--greyscale-text);*/
	color: black;
    letter-spacing: 2px;
    line-height: 22px;
    text-align: center;
}

div#MAP div#dateSelection input:focus {
	outline: none;
    border-bottom-color: var(--greyscale-text);
}

div#MAP div#dateSelection button#exit {

	display: block;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
}









div#MAP div#mapSettings {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 0 8px;
}

	div#MAP div#mapSettings::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		opacity: 0;
		transition: all ease-in-out 0.25s;
		z-index: -1;
	}

	div#MAP div#mapSettings._enter::before {
		transition: all ease-in-out 0.1s;
		z-index: 21;
		opacity: 1;
	}


div#MAP div#mapSettings h2 {
	font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--greyscale-accent);
  margin: 36px 0px 0;
/*  padding: 6px 8px;*/
/*  text-align: center;*/
/*  margin-top: 36px;*/
}




div#MAP div#mapSettings ul#settingsOptionsWrapper {
	list-style-type: none;
	padding: 0;
	margin: 36px 0 auto;
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li {}

div#MAP div#mapSettings ul#settingsOptionsWrapper li#searchOptionWrapper {}

div#MAP div#mapSettings ul#settingsOptionsWrapper li h3 {
	font-family: 'Raleway';
	font-weight: 400;
	letter-spacing: 2px;
	color: var(--greyscale-accent);
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li#searchOptionWrapper div#inputWrapper {
	display: flex;
    flex-direction: row;
    border-bottom: 2px var(--greyscale-elements) solid;
    padding-bottom: 12px;
    margin: 28px 0;
    transition: all ease-in-out 0.2s;
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li#searchOptionWrapper div#inputWrapper:focus-within {
	border-bottom-color: black;
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li input {
	font-family: "Open Sans";
/*	letter-spacing: 1px;*/
	font-size: 1em;
    flex-grow: 2;
    border: none;
    margin-left: 8px;
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li input:focus {
	outline: none;
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li#searchOptionWrapper ul#suggestions {
	margin: 0;
	margin-left: 8px;
	margin-top: -12px;
	padding: 0;
	list-style-type: none;
}

div#MAP div#mapSettings ul#settingsOptionsWrapper li#searchOptionWrapper ul#suggestions li {
/*	margin: 24px 0;*/
	padding: 24px 0;
	border-bottom: 1px solid var(--greyscale-elements);
}